cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
cramjam==2.10.0
databricks-sdk==0.50.0
databricks-sql==1.0.0
databricks-sql-connector==2.2.1
fastparquet==2024.11.0
fsspec==2025.3.2
google-auth==2.39.0
idna==3.10
lz4==4.4.4
numpy==1.23.4
oauthlib==3.2.2
packaging==24.2
pandas==1.5.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pystache==0.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
rsa==4.9.1
six==1.17.0
thrift==0.16.0
tzdata==2025.2
urllib3==2.4.0
